<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ARM</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<meta charset="UTF-8" />
		<!-- styles -->
		<link rel="stylesheet" href="/styles/index.css" />
		<!-- icons -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
		
		<script src="/js/index.js"></script>
	</head>
	<body>
		<header>
			<h1>AR Museum</h1>
			{{!-- <nav>
				<button>
					<i class="material-icons">menu</i>
				</button>
			</nav> --}}
		</header>
		<main>
			<section>
				<a href="quiz?id=0">
					<button type="button" value="Join Game" id="join">Join Game</button>
				</a>
			</section>
			<section>
				<iframe src="ar.html"></iframe>
				<div id="info">
					Giraffes live on Earth, but come from Mars. They used to fly but now
					they walk.
				</div>
			</section>
		</main>
		<footer>
			<button type="button" value="Giraffe">Giraffe</button>
			<button type="button" value="Neck">Neck</button>
			<button type="button" value="Spots">Spots</button>
			<button type="button" value="Speed">Speed</button>
			<button type="button" value="Sleep">Sleep</button>
			<button type="button" value="Tongue">Tongue</button>
			<button type="button" value="Diet">Diet</button>
			<button type="button" value="Eyes">Eyes</button>
			<button type="button" value="Ears">Ears</button>
			<button type="button" value="Hooves">Hooves</button>
		</footer>
	</body>
</html>
