<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ARM Login</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
		/>

		<link rel="stylesheet" href="/styles/index.css" />
		<link rel="stylesheet" href="/styles/login.css" />

		<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
		<script src="https://code.jquery.com/jquery.js"></script>

		<style>
			#register {
				color: blue;
				text-decoration: underline;
			}
		</style>
		{{> facebook}}
		<script src="/js/facebook.js"></script>
		<div id="fb-root"></div>
		<script
			async
			defer
			crossorigin="anonymous"
			src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=676014709634737&autoLogAppEvents=1"
			nonce="zTGldGh1"
		></script>
	</head>
	<body>
		<header>
			<h1>AR Museum</h1>
			<nav></nav>
		</header>

		<h2 style="text-align: center; margin-top: 50px">
			Welcome to AR Museum, Login to get started!
		</h2>
		<div class="container my-container mt-5">
			<div class="row align-items-center justify-content-center">
				<div
					class="fb-login-button"
					data-width=""
					data-size="large"
					data-button-type="continue_with"
					data-layout="default"
					data-auto-logout-link="false"
					data-use-continue-as="true"
					onlogin="checkLoginState();"
				></div>
				{{!--
				<fb:login-button
					scope="public_profile,email"
					onlogin="checkLoginState();"
				>
				</fb:login-button>
				--}}
			</div>
		</div>
	</body>
</html>
