<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Exhibit</title>
</head>
<body>
    {{> header }}
    <a href="index?model=giraffe"><button>Giraffe</button></a>
    <a href="index?model=sol"><button>Statue of Liberty</button></a>
    <button disabled>More Coming Soon...</button>
</body>
</html>