<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ARM Quiz Game</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/quiz.css"/>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
        	<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/quiz.js"></script>
        {{!-- <link rel="stylesheet" href="/styles/index.css" /> --}}
        <link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>

	</head>
	<body>
        {{> header}}
        <div class="container">
            <h2 class="question">{{question.question}}</h2>
            <!-- creates the list of vertical buttons -->
            <!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->
            <ul class="list-group">
                    {{#each question.answers}}
                        <!-- add 'active' to set the clicked button -->
                        <!-- https://getbootstrap.com/docs/4.0/components/buttons/ -->
                        {{!-- TODO: should probably not show whether it is correct or not in html --}}
                        <button id="{{is_correct}}" class="btn btn-secondary">{{this.answer}}</button>
                    {{/each}}
            </ul>

            {{> progress this}}
        </div>
        <!-- example circle countdown: https://codepen.io/charlenopires/pen/JMoxdb -->
        <div hidden class="container" id="countdown">
            {{!-- <div class="row mx-auto timer-row"> --}}
                    {{!-- <svg class="timer" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
                        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
                    </svg> --}}
                    <p>test</p>
            {{!-- </div> --}}
        </div>
		<footer></footer>
	</body>
</html>
