{{!-- <link rel="stylesheet" href="/styles/header.css" /> --}}
<link rel="stylesheet" href="/styles/index.css" />
<style>
	section a {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	section i {
		align-self: center;
	}
</style>
<header>
    <h1>AR Museum</h1>
    <nav></nav>
</header>