@import url('https://fonts.googleapis.com/css?family=Lobster|Barlow');

:root {
	--primary: #333;
}

.Complete {
	color: black;
	margin-top: 5px;
}

#modal {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 50vw;
	background-color: white;
	z-index: 2;
	display: none; /* changed to flex when hamburger pressed */
	flex-direction: column;
	justify-content: space-between;
}

#options {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 50%;
}

#options > * {
	height: 25%;
	width: 100%;
}

#options div {
	display: flex;
	justify-content: flex-end;
}

i {
	margin-top: 5px;
	margin-right: 5px;
}

#options a {
	color: var(--primary);
	font-size: 24px;
	font-weight: bold;
	border: none;
}

#modal p,
#modal a {
	color: var(--primary);
	font-family: Barlow;
	text-align: center;
}

#modal > p > a {
	text-decoration: underline;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

header {
	background-color: var(--primary);
	display: grid;
	grid-template-columns: 33vw 34vw 33vw;
	grid-template-rows: 10vh;
	width: 100vw;
	font-family: Lobster;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-size: 24px;
	color: white;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

nav {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav i {
	font-size: 48px;
	color: rgba(255, 255, 255, 1);
	margin-right: 10%;
}

main {
	height: 90vh;
	width: 100vw;
}

main section:first-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 5vh;
	width: 100vw;
	position: absolute;
	z-index: 1;
}

main section:nth-child(2) {
	width: 100vw;
}

#join {
	border-style: solid;
	border-radius: 8px;
	border-color: var(--primary);
	color: var(--primary);
	background-color: white;
	font-size: 14px;
	font-family: Lobster;
}

iframe {
	height: 90vh;
	width: 100vw;
	position: absolute;
	z-index: 0;
	border: none; /* caused weird outline of iframe */
}

#info {
	position: absolute;
	z-index: 1;
	border-style: solid;
	border-color: #ccc;
	border-radius: 12px;
	background-color: rgba(200, 200, 200, 0.75);
	height: auto;
	padding: 10px;
	width: 150px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 25px;
	margin-left: 15px;
	font-family: Barlow;
}

footer {
	overflow: auto;
	white-space: nowrap;
	display: flex;
	align-items: center;
	width: 100vw;
	position: absolute;
	bottom: 0;
	background-color: transparent;
	margin-bottom: 10px;
}

footer button {
	border: none;
	background-color: white;
	color: var(--primary);
	border-radius: 50%;
	border-style: solid;
	border-color: var(--primary);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: Lobster;
	margin: 0 5px;
	min-width: 60px;
	min-height: 60px;
}

button:hover {
	background-color: var(--primary) !important;
	color: white !important;
	/* !important is to override #join properties */
}
