@import url('https://fonts.googleapis.com/css?family=Lobster');

:root {
	--primary: #333;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

header {
	background-color: var(--primary);
	display: grid;
	grid-template-columns: 33vw 34vw 33vw;
	grid-template-rows: 10vh;
	width: 100vw;
	-font-family: Lobster;
}

h1 {
	font-size: 24px;
	color: white;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

nav {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav button {
	height: 30px;
	border: none;
	border-radius: 7px;
	background-color: white;
	margin-right: 5px;
}

main {
	height: 83vh;
	width: 100vw;
}

main section:first-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 5vh;
	width: 100vw;
}

main section:nth-child(2) {
	width: 100vw;
}

#join {
	border-style: solid;
	border-radius: 3px;
	border-color: var(--primary);
	color: var(--primary);
	background-color: white;
	font-size: 14px;
	-font-family: Lobster;
}

iframe {
	height: 78vh;
	width: 100vw;
	position: absolute;
	z-index: 0;
}

#info {
	position: absolute;
	z-index: 1;
	border-style: solid;
	border-color: #ccc;
	border-radius: 12px;
	background-color: #ddd;
	height: auto;
	padding: 10px;
	width: 150px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 25px;
	margin-left: 15px;
}

footer {
	height: 7vh;
	overflow: auto;
	white-space: nowrap;
	display: flex;
	align-items: center;
	width: 100vw;
}

footer button {
	border: none;
	background-color: white;
	color: var(--primary);
	font-size: 14px;
	border-radius: 12px;
	border-style: solid;
	border-color: var(--primary);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-font-family: Lobster;
	margin-left: 5px;
	margin-right: 5px;
}

button:hover {
	background-color: var(--primary) !important;
	color: white !important;
	/* !important is to override #join properties */
}
