@import url('https://fonts.googleapis.com/css?family=Lobster|Barlow');

.mainbody{
	height: 40vh;
	width:100%;

}

.subbody{
	height: 20vh;
	width:100%;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.subrow{
	height: 20vh;
	width:100%;
}

.subcol{
	align-items: center;
	align-content: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.btn{
	width: 70%;
}

.img-fluid {
	max-width: auto;
	max-height: 40vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
