
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


/*Onboarding Picture*/

.img-fluid{
  max-width: auto;
<<<<<<< HEAD
  max-height: 48vh;
=======
  max-height: 44vh;
>>>>>>> 4498c0a61962684246b68ba6b4bde1b3338a4c1d
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.mainbody{
  width: 100%;
}

.mainrow{
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
<<<<<<< HEAD
  height: 55vh;
=======
  height: 45vh;
>>>>>>> 4498c0a61962684246b68ba6b4bde1b3338a4c1d
}

.description-container{
  width: 100%;
}

.description-row{
  width: 80%;
  height: 15vh;
  padding-top: 1vh;
  text-align: center;
}

/*Button to get started */

.buttoncontainer{
  width: 100%
}

.button-row{
  text-align: center;
  width: 50%
  height: 10vh;
}

.btn{
  width: 80%;
}
