
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


.top-section{
  width: 100%;
  height: 50px;
}

.top-row{
  width: 100%;
  height: 50px;
  text-align: center;
}


.mainbody{
  width: 100%;
  height: 350px;
}

.mainrow{
  width: 100%;
  height: 350px;
  background-color: #F2F2F2;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.subbody{
height: 150px;
width: 100%;
}

.subrow{
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  text-align: center;
}

.subcol{
  height: 50px;
  width: 50%;
}

.btn{
  width: 60%;
  background-color: gray;
  color: white !important;
}
