@import url('https://fonts.googleapis.com/css?family=Lobster|Barlow');

<<<<<<< HEAD
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


/*Onboarding Picture*/

.img-fluid{
  max-width: auto;
<<<<<<< HEAD
  max-height: 48vh;
=======
  max-height: 44vh;
  display: block;
  margin-left: auto;
  margin-right: auto;

* {
	font-family: Barlow;
}

header a {
	font-family: Lobster;
}

html,
body {
	overflow-x: hidden;
}
body {
	position: relative;
}

/*Onboarding Picture*/

.img-fluid {
	max-width: auto;
	max-height: 48vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
>>>>>>> eb05e2887cc0a3f0e08afb578d57c6386787da45
}

.mainbody {
	width: 100%;
}

<<<<<<< HEAD
.mainrow{
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
<<<<<<< HEAD
  height: 55vh;
=======
  height: 45vh;
>>>>>>> 4498c0a61962684246b68ba6b4bde1b3338a4c1d
=======
.mainrow {
	width: 100%;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 55vh;
>>>>>>> eb05e2887cc0a3f0e08afb578d57c6386787da45
}

.description-container {
	width: 100%;
}

.description-row{
  width: 80%;
  height: 15vh;
  padding-top: 1vh;
  text-align: center;
}

/*Button to get started */

.buttoncontainer {
	width: 100%;
}

.button-row{
  text-align: center;
  width: 50%;
  height: 10vh;
}

.btn {
	width: 80%;
}
